.confeti
{
	height: 1rem;
	width: 1rem;
	position: absolute;
	border: 2px solid var(--black);
	pointer-events: none;
}

.youWinText
{
	position: fixed;
	top: 50%;
	width: 100%;
	transform: translate(0, -50%);

	background-color: transparent;
	text-align: center;

	animation: slowlySlideDown 1000ms cubic-bezier(.68,-0.55,.27,1.55) 1;
}

.youWinText h1
{
	font-family: 'Tilt Warp', cursive;
	/*font-size: 5rem;*/
	font-size: clamp(3rem, 100vw / 12, 15vh);
	text-shadow: 0 0 50px var(--dark-red);
	margin: 0;
	padding: 0.5rem;
}

@keyframes slowlySlideDown
{
	0%
	{
		opacity: 0;
		top: 30%;
		transform: translate(0, -30%);
	}
	100%
	{
		opacity: 1;
		top: 50%;
		transform: translate(0, -50%);
	}
}

#loseScreen
{
	background-color: var(--black);
	animation: fadeToBlack 700ms linear 1 forwards;
}

#loseScreen div
{
	padding: 0.5rem;
}

#loseScreen p
{
	padding: 0.5rem;
	font-family: 'Tilt Warp', cursive;
	text-shadow: 0 0 10px var(--dark-red);
	font-size: 1.2rem;
	margin: 0;
}

@keyframes fadeToBlack
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
