#game nav
{
	background-color: var(--red);
	border-radius: 0 0 1rem 1rem;
	padding: 0.4rem;
	margin: 0 0.5rem 1.5rem 0.5rem;
	font-size: 1rem;
	font-family: 'Tilt Warp', cursive;
}

.floatRight
{
	float: right;
}

.mainCardContainer
{
	text-align: center;
}

#currentCard
{
	height: 40vh;
}

.logContainer
{
	min-height: 1.3rem;
	line-height: 1.3rem;
	font-size: 1rem;
	font-family: 'Tilt Warp', cursive;
	text-align: center;
	margin: 0.5rem;
	padding: 0.4rem;
	border-radius: 0.5rem;
	background-color: var(--red);
}

.deckContainer
{
	padding: 0.5rem;
}

#deck
{
	padding: 0.5rem 0;
	text-align: center;
}

.cardInDeck,
#addCard
{
	height: 8rem;
	margin: 0.3rem;
}

.cardHoverAnim,
#addCard
{
	transition: transform 150ms;
	cursor: pointer;
}

.cardHoverAnim:hover,
#addCard:hover
{
	transform: scale(1.1);
}

.card-spawn
{
	animation: cardSpawnAnim 400ms ease-out 1;
}

@keyframes cardSpawnAnim
{
	0%
	{
		opacity: 0;
		transform: rotate(-90deg);
	}

	60%
	{
		transform: rotate(10deg);
	}

	100%
	{
		opacity: 1;
		transform: rotate(0deg);
	}
}


.card-delete
{
	animation: cardDeleteAnim 250ms ease-out 1;
}

@keyframes cardDeleteAnim
{
	100%
	{
		opacity: 0;
		transform: scale(0);
	}
}

.currentCard-out
{
	animation: cardDeleteAnim 250ms ease-out 1;
}

.currentCard-in
{
	animation: currentCardInAnim 250ms ease-out 1;
}

@keyframes currentCardInAnim
{
	0%
	{
		opacity: 0;
		transform: scale(0);
	}
	60%
	{
		opacity: 1;
		transform: scale(1.2);
	}
	100%
	{
		opacity: 1;
		transform: scale(1);
	}
}

img
{
	image-rendering: pixelated;
}

.body-yourTurn
{
	animation: bgRed 400ms ease-out forwards;
}

.body-notYourTurn
{
	animation: bgBlack 400ms ease-out forwards;
}

@keyframes bgRed
{
	0%
	{
		background-color: var(--black);
	}
	100%
	{
		background-color: var(--darker-red);
	}
}

@keyframes bgBlack
{
	0%
	{
		background-color: var(--darker-red);
	}
	100%
	{
		background-color: var(--black);
	}
}
